valin-promo/*.mp4
valin-promo/source/node_modules/
valin-promo/source/index.html
valin-promo/source/seg*.mp4
valin-promo/source/*.wav
valin-promo/source/index2.html
valin-promo/source/index3.html
valin-promo/source/index4.html
sonnys-fahrschule/node_modules/
sonnys-fahrschule/dist/
sonnys-fahrschule/.astro/
sonnys-fahrschule/*.mp4
